html,
body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

header {
    z-index: 1000;
}

.section {
    padding-top: 70px;
    /* Offset for fixed navbar */
}

#home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#services,
#contact {
    padding: 80px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}